{% extends 'clienttemplates/clientbase.html' %}

{% block title %} All Posts {% endblock %}






{% block content %}

<form id="new_post" method="post" >
	{% csrf_token %}
	{{ post.as_p }}
	<input type="submit" value="Post"></input>
</form>

<div id="abc"></div>

<!-- {% for p in posts %}
<hr>
<p>{{p.author}} on {{p.created_date}}</p>
<h1>{{p.content}}</h1> -->


<!-- <form method="post" action="{% url 'post:clientcommentcreate' p.id %}">
	{% csrf_token %}
	{{ com.as_p }}
	<input type="submit" value="Comment"></input>
</form>
 -->
<!-- <h2>Comments:</h2>


{% for comment in p.comments.all %}
	<hr>
	<span>[{{ comment.author }} on {{ comment.created_date }}]</span>
	<h3>{{ comment.body }} </h3>
	
	<hr>
{% endfor %}



<hr>
{% endfor %} -->



{% endblock %}








{% block javascript %}
  <script>
    $(document).ready(function(){
    	var $myform = $("#new_post")
    	var $content = $('#id_content').val()
    	$myform.submit(function(event){
    		event.preventDefault();
    		// console.log(event)
    		var $formData = $(this).serialize();
    		alert('$input[name=csrfmiddlewaretoken]')
    		// document.getElementById("abc").innerHTML = $formData
    		// $('#abc').html('<h1>'$formdata'</h1>')

    		$.ajax({
    		type:'POST',
    		url:'/create/',
    		data:{
    			'content': $content,
    			'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
    		},
    		dataType: 'json',
    		success: function(data){
    			alert('successfull')
    		}
    	})
    	})
    	
    	
    	
    	
    });

  </script>
{% endblock %}
