{% extends 'clienttemplates/clientbase.html' %}

{% block title %} All Posts {% endblock %}

{% block content %}

    <div >
        <h2 id="abc" style="color:blue; "></h2>
    </div>


<form id="new_post" method="post">
	{% csrf_token %}
	{{ post.as_p }}
	<input type="submit" value="Post"></input>
</form>

   <div >
        <h2 id="dat" style="color:blue; "></h2>
    </div>

<div id="thisdiv">
{% for p in posts %}
<hr>
<p>{{p.author}} on {{p.created_date}}</p>
<h1>{{p.content}}</h1>
</div>



<form method="post" action="{% url 'post:clientcommentcreate' p.id %}">
	{% csrf_token %}
	{{ com.as_p }}
	<input type="submit" value="Comment"></input>
</form>

<h2>Comments:</h2>


{% for comment in p.comments.all %}
<hr>
<span>[{{ comment.author }} on {{ comment.created_date }}]</span>
<h3>{{ comment.body }} </h3>

<hr>
{% endfor %}



<hr>
{% endfor %}



{% endblock %}








{% block javascript %}







<script>
    $(document).ready(function(){
    	var $myform = $("#new_post")
    	$myform.submit(function(event){
    		event.preventDefault();
    		var $formData = $(this).serialize();

            // console.log(event)
    		// alert($('input[name=csrfmiddlewaretoken]').val())
    		// document.getElementById("abc").innerHTML = $formData
            // alert($("#new_post")[0].innerHTML)
            // console.log($formData)

    		// $('#abc').html('<h1>'$formdata'</h1>')



    		$.ajax({
                method: 'POST',
                url: '/create/',
                data: $formData,
    			// 'content': $('#id_content').val(),
    			// 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        		dataType: 'json',
        		success: function(data){
                    document.getElementById('abc').innerHTML = data['message']
                    // document.getElementById('dat').innerHTML = $('#id_content').val()
                    $('#thisdiv').load(document.URL + ' #thisdiv');
                    // document.getElementById('dat').innerHTML = $('#id_content').val()
        		}
        	})
            // $.ajax({
            //     url: 'post/detail/2',
            //     method: 'GET',
            //     data: {},
            //     success: function(data){
            //         $('#stream-list').replaceWith($('#stream-list',data));
            //     },
            //     error: function(error){
            //         console.log(error);
            //         console.log("error");
            //     }
            // });
    	})	
    });
var total_seconds = 5; // refresh every 5 seconds

setInterval(function(){
    refreshStream();
},total_second * 1000);
</script>




{% endblock %}
